<!DOCTYPE html>
<html ng-app="serverManagementModule">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LifeGuide Toolbox Admin Page</title>

    <link rel="icon" type="image/png" href="https://localhost:8080/client/img/icon.png" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .vertical-center {
            min-height: 100%;
            min-height: 100vh;
            display: flex;
            align-items: top;
        }

        body {
            overflow-y: hidden;
        }

        .table-responsive {
            height: 500px !important;
            overflow: scroll;
        }
    </style>

</head>

<body>
    <div ng-controller="serverManagementCtrl as smCtrl">
        <div class="container">
            <nav class="navbar-fixed-top navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#home">LifeGuide Toolbox <sup>&copy;</sup></a>
                    </div>
                    <div id="mynavbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                            <li ng-show="smCtrl.checkAuthentication()"><a href="#dashboard"><span class="glyphicon glyphicon-wrench"></span> Dashboard</a></li>
                            <li><a href="#login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                            <li><a href="#about"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li><a href="#logout" ng-click="smCtrl.logoutUser()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div id="home" class="container vertical-center">
            <div class="jumbotron text-left">
                <h2>LifeGuide Toolbox Management Page</h2>
                <p class="text-justify">
                    The Lifeguide Toolbox admin tools website should be used by interventions authors to publish their interventions.
                </p>
                <p class="text-justify">
                    Please click <a href="#login">here</a> to go to the login page, if you don't have an account with us please click <a href="#register">here</a> to create an account.
                </p>
                <p class="text-justify">
                    To upload your interventions, please login to the service and upload your intervention JSON file, then please configure the LigeGuide Toolbox app to use the desired intervention file. You can only have one intervention file per application.
                </p>
                <p class="text-justify">
                    To create a new intervention JSON file please use the most recent web authoring website, available <a href="http://waisvm-lgapp.ecs.soton.ac.uk/editor" target="_blank">here</a>.
                </p>
                <span class="text-muted">&copy; Copyright University of Southampton 2016</span>
            </div>
        </div>

        <div id="login" class="container vertical-center">
            <div class="jumbotron">
                <form name="user" class="form-horizontal" ng-submit="smCtrl.loginUser(smCtrl.user)">
                    <h2>Please enter your login information</h2>
                    <div id="loginFeedback"></div>
                    <div class="form-group">
                        <label for="username" class="control-label col-md-2">Username</label>
                        <div class="col-md-2">
                            <input type="text" maxlength="20" name="username" placeholder="username" ng-model="smCtrl.user.username" id="username" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label col-md-2">Password</label>
                        <div class="col-md-2">
                            <input type="password" maxlength="20" name="password" placeholder="password" ng-model="smCtrl.user.password" id="password" required>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-2">
                        <button type="submit" id="submit" class="btn btn-primary btn-med">Login</button>
                    </div>
                </form>
                <div class="btn-group btn-group-justified">
                    <form name="forgotenpassword" action="api/users" method="get" accept-charset="utf-8">
                        <div class="col-md-offset-2 col-md-2">
                            <button type="submit" class="btn btn-primary btn-med" disabled>Forgoten Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="register" class="container vertical-center">
            <div class="jumbotron">
                <ng-form name="registration" class="form-horizontal">
                    <h2>Registration Form</h2>
                    <div class="form-group row">
                        <label for="name" class="col-md-2 col-form-label">Name</label>
                        <div class="col-md-5">
                            <input class="form-control" type="text" name="name" placeholder="enter your name" ng-model="smCtrl.newuser.name" id="name" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="surname" class="col-md-2 col-form-label">Surname</label>
                        <div class="col-md-5">
                            <input class="form-control" type="text" name="surname" placeholder="enter your surname" ng-model="smCtrl.newuser.surname" id="surname" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="username" class="col-md-2 col-form-label">Username</label>
                        <div class="col-md-5">
                            <input class="form-control" type="text" name="username" placeholder="enter your name" ng-model="smCtrl.newuser.username" id="username" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-md-2 col-form-label">Password</label>
                        <div class="col-md-5">
                            <input class="form-control" type="password" name="password" ng-model="smCtrl.newuser.password" id="password" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-md-2 col-form-label">Email</label>
                        <div class="col-md-5">
                            <input class="form-control" type="email" name="email" placeholder="enter your email" ng-model="smCtrl.newuser.email" id="email" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="tel" class="col-md-2 col-form-label">Telephone</label>
                        <div class="col-md-5">
                            <input class="form-control" type="text" name="tel" placeholder="enter your phone number" ng-model="smCtrl.newuser.tel" id="tel">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="locaction" class="col-md-2 col-form-label">Location</label>
                        <div class="col-md-5">
                            <input class="form-control" type="text" name="location" placeholder="enter your city/town" ng-model="smCtrl.newuser.location" id="location">
                        </div>
                    </div>
                    <div id="registrationFeedback"></div>
                    <div class="col-md-offset-2 col-md-2">
                        <button type="submit" ng-click="smCtrl.registerUser(smCtrl.newuser)" class="btn btn-primary btn-med">Register</button>
                    </div>
                </ng-form>
                <div class="btn-group btn-group-justified">

                </div>
            </div>
        </div>

        <div id="about" class="container vertical-center">
            <div class="jumbotron text-left">
                <h2 name="about">About LifeGuide Toolbox</h2>
                <p class="text-justify">
                    The LifeGuide intervention author management tool enables researchers to optimise their interventions prior to deployment in the Google Play or Apple Store digital distribution services as well as other platforms.
                </p>
                <h3>Important About Information you Enter</h3>
                <p class="text-justify">
                    Please create an account by clicking on the sign up link at the top right of your screen and provide some required information, since this is for testing interventions and fellow intervention authors and developers will be able to view this information, <strong>it is crusial to treat the site as NOT secure for your personal information.</strong> So please do not to provide with any real personal information and create users that do not include any real user information.
                </p>
                <h3>How to Test an Intervention</h3>
                <p class="text-justify">
                    To use the tool you simply add your intervention (upload in JSON format) and make sure you remember the intervention ID. In the LifeGuide app (web vesrion) please register a user and in the user's intervention ID put the ID of the intervention you want to test. When you login with that specific user the the system will lookup the intervention with that ID and the intervention will be loaded. If you want to make changes to your intervention just delete the intervention and then add the updated version using the same intervention ID (the intervention ID is unique and you can not have 2 itnervention with the same ID).
                </p>
                <p class="text-justify">
                    For more information on the general LifeGuide project please click <a href="https://www.lifeguideonline.org" target="_blank">here</a>.
                </p>
            </div>
        </div>

        <div id="dashboard" class="container vertical-center">
            <div class="jumbotron text-center">
                <div class="container" ng-show="smCtrl.checkAuthentication()">
                    <h2>Dashboard</h2>
                    <ul class="nav nav-pills nav-justified">
                        <li class="active">
                            <a href="#interventions" data-toggle="pill">Interventions</a>
                        </li>
                        <li>
                            <a href="#users" data-toggle="pill">Users</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="interventions" class="tab-pane fade in active">
                            <h3>All Interventions</h3>
                            <div id="interventionFeedback"></div>
                            <label>Search:
                                <input ng-model="searchText">
                            </label>
                            <div class="table-responsive">
                                <table id="interventionTable" class="table table-striped table-bordered">
                                    <thead class="thead-inverse">
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>ID</th>
                                            <th>Description</th>
                                            <th>Delete Intervention</th>
                                            <th>Update Intervention</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="intervention in smCtrl.interventionList.data | filter:searchText">
                                            <td>{{$index + 1}}</td>
                                            <td>{{intervention.name}}</td>
                                            <td>{{intervention.key}}</td>
                                            <td>{{intervention.description}}</td>
                                            <td>
                                                <input type="button" class="btn btn-danger btn-med" value="Delete" ng-click="smCtrl.deleteIntervention(intervention.key)">
                                            </td>
                                            <td>
                                                <input type="button" class="btn btn-primary btn-med" value="Update" ng-click="smCtrl.updateIntervention(intervention.key, intervention.data)">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a href="#addIntervention"><span class="glyphicon glyphicon-plus"></span> Add new intervention</a>

                        </div>

                        <div id="users" class="tab-pane fade">
                            <h3>All Users</h3>
                            <div id="userFeedback"></div>
                            <div class="table-responsive">
                                <table id="userTable" class="table table-striped table-bordered">
                                    <thead class="thead-inverse">
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Surname</th>
                                            <th>Username</th>
                                            <th>Intervention</th>
                                            <th>Delete User</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="user in smCtrl.userList.data">
                                            <td>{{$index + 1}}</td>
                                            <td>{{user.name}}</td>
                                            <td>{{user.surname}}</td>
                                            <td>{{user.username}}</td>
                                            <td>{{user.interventionID}}</td>
                                            <td>
                                                <input type="button" class="btn btn-danger btn-med" value="Delete" ng-click="smCtrl.deleteUser(user.username)">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <p class="text-justify" ng-hide="smCtrl.checkAuthentication()">
                    <strong>Please Note:</strong> You must be signed in to view this page, please click <a href="#login">here</a> to signin. If you are not registered please click <a href="#register">here</a> to register with us.
                </p>
            </div>
        </div>

        <div id="logout" class="container vertical-center">
            <div class="jumbotron text-center">
                <h2>You have successfully logged out.</h2>
                <p class="text-justify">
                    If you want to sign back in please click <a href="#login">here</a>. If you want to go to the home page please click <a href="#home">here</a>
                </p>
            </div>
        </div>

        <div id="addIntervention" class="container vertical-center">
            <div class="jumbotron text-center">
                <h2>Add Interventions Details</h2>
                <p class="text-justify">
                    <div id="interventionFeedback"></div>
                </p>
                <div class="form-horizontal">
                    <div class="form-group row">
                        <label for="interventionName" class="col-md-2 col-form-label">Name</label>
                        <div class="col-md-5">
                            <input type="text" id="interventionName" ng-model="smCtrl.interventionName" class="form-control" placeholder="name" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="interventionID" class="col-md-2 col-form-label">ID</label>
                        <div class="col-md-5">
                            <input type="text" id="interventionID" ng-model="smCtrl.interventionID" class="form-control" placeholder="id" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-md-2 col-form-label">Description</label>
                        <div class="col-md-5">
                            <textarea id="description" rows="3" ng-model="smCtrl.description" class="form-control" placeholder="description"> </textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="file" class="col-md-2 col-form-label">Select File</label>
                        <div class="col-md-5">
                            <input type="file" id="file" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-offset-2 col-md-2">
                            <button class="btn btn-primary btn-med" ng-click="smCtrl.interventionUpload()">Save Intervention</button>
                        </div>
                    </div>
                </div>
                <div class="btn-group btn-group-justified">
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">&copy; Copyright University of Southampton 2016</span>
        </div>
    </footer>

    <script>
        (function () {
            'use strict';
            angular.module('serverManagementModule', [])
                .controller('serverManagementCtrl', function (AuthService, dataManager, $http) {
                    var vm = this;
                    vm.user = {};
                    vm.newuser = {};
                    vm.fileData = {};

                    vm.interventionVersion = {};
                    var interventionContent = {};
                    var API_ENDPOINT = 'https://localhost:8080/api';

                    // For development
                    // 'http://waisvm-lgapp.ecs.soton.ac.uk/server/api'

                    vm.search = function (val) {};

                    vm.checkAuthentication = function () {
                        return AuthService.isAuthenticated();
                    };

                    var parseInterventions = function () {
                        $http.get(API_ENDPOINT + '/interventions').then(function (result) {
                            console.log(result.data);
                            vm.interventionList = result;
                        });
                    };

                    var parseUsers = function () {
                        $http.get(API_ENDPOINT + '/users').then(function (result) {
                            console.log(result.data);
                            vm.userList = result;
                        });
                    };

                    vm.deleteIntervention = function (interventionID) {
                        $http.delete(API_ENDPOINT + '/intervention/:' + interventionID).then(function (result) {
                            document.getElementById("interventionFeedback").innerHTML = result.data.msg;
                            parseInterventions();
                        }, function (result) {
                            document.getElementById("interventionFeedback").innerHTML = result.data.msg;
                        });
                    };

                    vm.updateIntervention = function (interventionID, data) {
                        $http.put(API_ENDPOINT + '/intervention/:' + interventionID, data).then(function (result) {
                            document.getElementById("interventionFeedback").innerHTML = result.data.msg;
                            parseInterventions();
                        }, function (result) {
                            document.getElementById("interventionFeedback").innerHTML = result.data.msg;
                        });
                    };

                    vm.deleteUser = function (username) {
                        $http.delete(API_ENDPOINT + '/user/:' + username).then(function (result) {
                            document.getElementById("userFeedback").innerHTML = result.data.msg;
                            parseUsers();
                        }, function (result) {
                            document.getElementById("userFeedback").innerHTML = result.data.msg;
                        });
                    };

                    vm.interventionUpload = function () {
                        console.info('file upload');

                        var intervention = {
                            'name': vm.interventionName,
                            'key': vm.interventionID,
                            'description': vm.description,
                            'data': interventionContent
                        }

                        dataManager.saveIntervention(intervention);

                        //Wait for a 1.5 seconds and update the intervention list
                        setTimeout(function () {
                            parseInterventions();
                        }, 1500);


                        /*
                        var file = document.getElementById('file').files[0],
                            reader = new FileReader();
                        reader.onloadend = function (e) {
                            vm.FileData = e.target.result;
                        }
                        reader.onerror = function (event) {
                            console.error('File could not be read!' + event.target.error.code);
                        };
                        */
                    };

                    /*
                        vm.openFileDialog = function () {
                            console.info('openFileDialog()');
                            ionic.trigger('click', {
                                target: document.getElementById('file')
                            });
                        };
                        */

                    angular.element(document).find('input').on('change', function (event) {
                        console.info('element change event');
                        var file = event.target.files[0];
                        vm.fileName = file.name;
                        var reader = new FileReader();
                        // Closure to capture the file information
                        reader.onload = function (event) {
                            vm.contents = event.target.result;
                            interventionContent = vm.contents;
                            console.info('File contents: ' + vm.contents);
                        };
                        reader.onerror = function (event) {
                            console.error('File could not be read!' + event.target.error.code);
                        };
                        // Read the file contents as text
                        reader.readAsText(file);
                        console.info('uploaded file: ' + vm.fileName);
                    });


                    //document.getElementById("dashboard").addEventListener('mouseover', function () {
                    //  AuthService.accessSecureArea();
                    //});

                    vm.loginUser = function (user) {
                        AuthService.loginUser(user);
                        parseInterventions();
                        parseUsers();

                        //Go to the dashboard page after user login
                        setTimeout(function () {
                            window.location.hash = '#dashboard';
                        }, 1000);


                    };

                    vm.registerUser = function (newuser) {
                        AuthService.registerUser(newuser);
                    };

                    vm.logoutUser = function () {
                        AuthService.logout();
                        document.getElementById("loginFeedback").innerHTML = '';
                    };


                    vm.parseInterventionList = function () {
                        console.log('parse interventions');
                        AuthService.accessSecureArea();
                    };
                })

            .service('dataManager', function ($q, $http) {
                'use strict';
                var API_ENDPOINT = 'https://localhost:8080/api';

                //'http://waisvm-lgapp.ecs.soton.ac.uk/server/api'

                var saveIntervention = function (data) {
                    return $q(function (resolve, reject) {
                        $http.post(API_ENDPOINT + '/saveintervention', data).then(function (result) {
                            if (result.data.success) {
                                resolve(result.data.msg);
                                document.getElementById("interventionFeedback").innerHTML = result.data.msg;

                            } else {
                                reject(result.data.msg);
                                document.getElementById("interventionFeedback").innerHTML = result.data.msg;
                            }
                        });
                    });
                };

                return {
                    saveIntervention: saveIntervention
                };

            })

            .service('AuthService', function ($q, $http) {

                var LOCAL_TOKEN_KEY = 'yourTokenKey';
                var username = '';
                var isAuthenticated = false;
                var role = '';
                var authToken;
                var API_ENDPOINT = 'https://localhost:8080/api';
                var AUTH_EVENTS = 'auth-not-authenticated';

                //'http://waisvm-lgapp.ecs.soton.ac.uk/server/api'

                function validateForm() {
                    var x = document.forms["login"]["username"].value;
                    if (x == null || x == "") {
                        alert("Please fill out the username");
                        return false;
                    }
                }

                function loginUser(user) {
                    return $q(function (resolve, reject) {
                        $http.post(API_ENDPOINT + '/authenticate', user).then(function (result) {
                            if (result.data.success) {
                                storeUserCredentials(result.data.token);
                                console.log(result.data.token);
                                resolve(result.data.msg);
                                document.getElementById("loginFeedback").innerHTML = 'Logged in as ' + user.username;

                                setTimeout(function () {
                                    console.log('Access secure Area');
                                    accessSecureArea();
                                }, 1000);

                            } else {
                                reject(result.data.msg);
                                document.getElementById("loginFeedback").innerHTML = result.data.msg;
                            }
                        });
                    });
                }

                var accessSecureArea = function () {
                    $http.get(API_ENDPOINT + '/dashboard').then(function (result) {
                        console.log(result.data.msg);
                    });
                };

                //'http://waisvm-lgapp.ecs.soton.ac.uk/server/api'
                function registerUser(user) {
                    return $q(function (resolve, reject) {
                        $http.post('https://localhost:8080/api/signup', user).then(function (result) {
                            if (result.data.success) {
                                resolve(result.data.msg);
                                document.getElementById("registrationFeedback").innerHTML = result.data.msg;
                            } else {
                                reject(result.data.msg);
                                document.getElementById("registrationFeedback").innerHTML = result.data.msg;
                            }
                        });
                    });
                }

                function storeUserCredentials(token) {
                    window.localStorage.setItem(LOCAL_TOKEN_KEY, token);
                    useCredentials(token);
                }

                function useCredentials(token) {
                    username = token.split('.')[0];
                    isAuthenticated = true;
                    authToken = token;

                    if (username == 'admin') {
                        role = USER_ROLES.admin
                    }
                    if (username == 'user') {
                        role = USER_ROLES.public
                    }

                    // Set the token as header for your requests!
                    //$http.defaults.headers.common['X-Auth-Token'] = token;
                    $http.defaults.headers.common['authorization'] = token;
                }

                var logout = function () {
                    destroyUserCredentials();
                };

                function destroyUserCredentials() {
                    authToken = undefined;
                    username = '';
                    isAuthenticated = false;
                    $http.defaults.headers.common['authorization'] = undefined; //changed X-Auth-Token to authorization
                    window.localStorage.removeItem(LOCAL_TOKEN_KEY);
                }

                var isAuthorized = function (authorizedRoles) {
                    if (!angular.isArray(authorizedRoles)) {
                        authorizedRoles = [authorizedRoles];
                    }
                    return (isAuthenticated && authorizedRoles.indexOf(role) !== -1);
                };

                function tokenManagement() {
                    var token = window.localStorage.getItem(LOCAL_TOKEN_KEY);
                    if (token) {
                        options.headers = {
                                'x-access-token': token
                            } //changed to authorization
                    }
                }
                return {
                    loginUser: loginUser,
                    registerUser: registerUser,
                    logout: logout,
                    accessSecureArea: accessSecureArea,
                    tokenManagement: tokenManagement,
                    isAuthenticated: function () {
                        return isAuthenticated;
                    }
                };

            });

        }());
    </script>

</body>

</html>
